@import "../../../css-config/mixins.scss";


.product-card {
    cursor: pointer;
    width: calc(50% - 5px);
    margin-bottom: 20px;
    padding: 10px;
    @include md {
        width: calc(25% - 15px);
    }
    

    .thumbnail {
        width: 100%;
        height: 120px;
        background-color: rgba(0, 0, 0, 0.05);
        margin-bottom: 15px;
        padding: 30px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        

        @include xs {
            height: 220px;
        }
        
        
        @include sm {
              
            height: 300px;

          }
  
        @include md {
              
             height: 200px;
        }

        @include lg {
              
            height: 280px;
       }
        


        img {
            transition: all ease 0.3s;
            display: block;
            width: 100%;
        }
    }
    .prod-details {
        .name {
            font-size: 14px;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: #6a6562;
            @include md {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        .price {
            font-size: 18px;
            color: #6a6562;
            @include md {
                font-size: 24px;
            }
        }
    }
    &:hover {
        .thumbnail {
            img {
                transform: scale(1.2);
            }
        }
    }
}

