
.payment-info {

     margin-top: 120px;
     text-align: center;

}

.return-action-btn {

    margin-top: 20px;
    margin-bottom: 180px;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    background-color:#28282B;
    border-radius: 8px;
    transition: all ease 0.3s;
    

}

.return-action-btn:hover {
    background-color: #525252;
  }

h1 {
    font-weight: 300;
    
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
}

