@import "../../css-config/mixins.scss";


.category-main-content {

       margin-top: 50px;
       @include md {
            
        margin-top: 80px;
          
       }

       .layout {

            max-width: calc(100% - 20px);
            margin: 0 auto;
            @include md {

                   max-width: 1200px;
            }


       }

       .category-title {

            font-size: 24px;
            margin: 0 30px;
            padding: 5px;
            color: #6a6562;
            @include md {

                  font-size: 34px;
                  
                  
            }
   
        
            &:after {
                content: "";
                display: block;
                margin-top: 5px;
                width: 50px;
                height: 3px;
                margin-left:3px;
                background-color: #89CFF0;
                @include md {
                    margin-top: 10px;
                }
            }

 
            }
}


